* {
    box-sizing: border-box;
    font-family: "Anton", sans-serif;
    margin: 0;
    padding: 0;
    color: #fff;
}

body {
    background-color: black !important;
}

.fixed-header {
    position: fixed;
    top: 20%;
    right: 15px;
    background-color: rgb(61, 60, 60);
    padding: 10px;
    text-align: center;
    border-radius: 10em;
    z-index: 1000;
}

.btn_scroll:not(.bti) {
    margin: 0 0 20px 0;
}

.btn_scroll {
    display: block;
    width: 2em;
    height: 2em;
    font-size: 22px;
    border-radius: 50%;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.btn_scroll i {
    position: relative;
    top: 0.4vw;
}

.scroll-active {
    -webkit-animation: animatedNeonBorder 2.5s infinite;
    animation: animatedActiveBorder 2.5s infinite
}

.scroll-active i {
    color: #ff0000 !important;
}

@keyframes animatedActiveBorder {
    0% {
        border: none;
        box-shadow: none;
    }

    50% {
        box-shadow: 0 0 0.5vw #ff0000, 0 0 0.55vw #ff0000, 0 0 0.6vw #ff0000, 0 0 0.65vw #ff0000, 0 0 0.7vw #ff0000, 0 0 0.95vw #ff0000;
    }

    100% {
        border: none;
        box-shadow: none;
    }
}

.fixed-header .btn_scroll i {
    background-color: transparent;
}

.full-height {
    height: 100vh;
}

.scrollable {
    height: calc(100vh -17vh);
    overflow: auto;
}

#sobreMi,
#conocimientos,
#proyectos {
    margin-top: 20px;
}

.icon {
    background-color: #fff;
    padding: 0.1vw;
    border-radius: 50%;
}