@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

#inicio {
    position: relative;
    font-family: "Anton", sans-serif;
    margin: 0;
}

#inicio .fondo {
    background-image: url('../img/fondo_inicio.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    position: absolute;
}

#inicio .contents {
    width: 60%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    position: relative;
    margin: auto;
    top: 15vw;
}

#inicio .contents .img {
    width: 15vw;
    height: 15vw;
    display: flex;
    justify-content: center;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 5px -1px 9px #707070de;
    overflow: hidden;
    display: none;
}

#inicio .contents .img img {
    height: 16vw;
    position: relative;
    vertical-align: middle;
    border-style: none;
}

#inicio .contents .datos {
    text-align: center;
    display: none;
}

#inicio .contents .datos h4 {
    width: 100%;
    font-family: "Anton", sans-serif;
    font-weight: 700;
    font-size: 1.5vw;
    letter-spacing: .1vw;
    text-transform: uppercase;
}

#inicio .contents .datos h2 {
    font-family: "Anton", sans-serif;
    font-weight: 700;
    font-size: 3vw;
    letter-spacing: .1vw;
    text-transform: uppercase;
}

/* #inicio .contents .datos h2::before {
    content: "leidy juliana porras cala";
    position: absolute;
    background: linear-gradient(90deg, #f5621e, #f1f388);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
} */

#inicio .contents .datos h5 {
    font-family: "Anton", sans-serif;
    font-weight: 700;
    font-size: 1.5vw;
    letter-spacing: .1vw;
    text-transform: uppercase;
}

#inicio .contents .datos h5::before {
    content: "La mas fea del mundo";
    position: absolute;
    background: linear-gradient(90deg, #f5621e, #f1f388);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}