#sobreMi .contents {
    background-color: #363636;
    width: 100%;
    height: 55vw;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

#sobreMi .contents::before {
    content: "";
    position: absolute;
    top: 58vw;
    left: 0;
    width: 100%;
    height: 55vw;
    background-image: url("../img/fondoSobreMi.png");
    background-repeat: no-repeat;
    background-size: 140%;
    background-position: center;
}

.h1_sobremi{
    font-family: "Anton",sans-serif;
    font-weight: 700;
    font-size: 4vw;
    letter-spacing: .1vw;
    text-transform: uppercase;
    margin-left: 36.5%;
    margin-top: 3vw;
}

.h1_sobremi::before {
    content: "sobre mi";
    position: absolute;
    background: linear-gradient(90deg, #f5621e, #f1f388);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#sobreMi .contents .cont_sobremi {
    width: 75%;
    display: flex;
    align-items: center;
    margin-bottom: 1vw;
    margin-top: 1.5vw;
    position: relative;
    margin: auto;
    top: 1.5vw;
}

#sobreMi .contents .cont_img {
    width: auto;
    height: auto;
}

#sobreMi .contents .img {
    width: 18vw;
    height: 26vw;
    border: 0.7vw solid #ffb633;
    border-radius: 56% 34% 30% 25%/74% 40% 99% 58%;
    top: 0;
    overflow: hidden;
}

#sobreMi .contents .img_container {
    width: 16vw;
    height: 26vw;
    position: relative;
    bottom: 1.4vw;
    left: 1.1vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#sobreMi .contents .img img {
    width: 100%;
    height: 100%;
    margin-top: 10px;
    margin-right: 1vw;
}

#sobreMi .contents .datos {
    text-align: justify;
    font-size: 18.2px;
    margin-left: 5vw;
}

#sobreMi .contents a {
    font-weight: 700;
    text-transform: uppercase;
    box-shadow: 0.1em 0.15em 0.2em #333;
    border-radius: 1.1vw 0.3vw 1.1vw 0.3vw;
    z-index: 0;
    position: relative;
    left: 55%;
    top: 60px;
}