.contents-conocimiento {
    width: 100%;
    height: auto;
    background-color: rgb(101, 101, 101);
    padding-bottom: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden !important;
    position: relative;
    top: -0.2vw;
}

.contents-conocimiento::after {
    content: "";
    position: absolute;
    width: 0;
    height: 78vw;
    z-index: 100;
    transition: all .6s;
}

.contents-conocimiento::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 80vw;
    background-image: url("../img/fondoConocimiento.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    opacity: 0.2;
}

.h1-title-conocimiento {
    font-family: 'Anton', sans-serif;
    font-weight: 700;
    font-size: 4vw;
    letter-spacing: 0.1vw;
    text-transform: uppercase;
    position: absolute;
    left: 32%;
    margin-top: 3vw;
}

.h1-title-conocimiento::before {
    content: "conocimientos";
    position: absolute;
    background: linear-gradient(90deg, #f5621e, #f1f388);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/*contenedor*/

.container-info-tecnologias-conocimiento {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-left: 3%;
    margin-top: 10%;
    max-width: 90%;
}

/*conosimientos*/

.cart__conocimientos {
    position: relative;
    width: 150px;
    height: 200px;
    margin: 10px;
    background-color: #ffffff;
    border-radius: 15px;
    overflow: hidden;
}

.cart__conocimientos::before {
    content: '';
    position: absolute;
    background: linear-gradient(45deg, #e9043a, #78f07e);
    inset: -100px 50px;
    transition: 0.8s;
    animation: animation 5s linear infinite;
}

.cart__conocimientos:hover::before {
    inset: -60px -100px;
}

.cart__conocimientos::after {
    content: '';
    position: absolute;
    inset: 5px;
    background-color: #ffffff;
    border-radius: 10px;
    z-index: 1;
}

.cart__conocomientos__container {
    position: absolute;
    inset: 5px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cart__conocomientos__container img {
    width: 70%;
    border-radius: 15px;
}

.cart__conocomientos__container h3 {
    font-size: 1.6rem;
    color: #000000;
    font-weight: 700;
}

/* style del porcntaje */

.cart__conocomientos__container .rating {
    font-size: 0;
}

.cart__conocomientos__container .rating .fa {
    font-size: 20px;
    color: #ffc107;
}

.cart__conocomientos__container .rating .fa-star-o {
    font-size: 20px;
    color: #ddd;
}