.container-procyetos {
    width: 100%;
    height: auto;
    background-color: #363636;
    padding-top: 2vw;
    padding-bottom: 5vw;
    overflow: hidden !important;
    position: relative;
    bottom: 0.5vw;
}

.container-procyetos::before {
    content: "";
    position: absolute;
    margin-top: -8.5vw !important;
    width: 0;
    height: 242vw;
    z-index: 100;
    transition: all .6s;
}

.h1-project {
    font-family: "Anton", sans-serif;
    font-weight: 700;
    font-size: 4vw;
    letter-spacing: .1vw;
    text-transform: uppercase;
    margin-left: 36.5%;
    margin-top: 3vw;
}

.h1-project::before {
    content: "proyectos";
    position: absolute;
    background: linear-gradient(90deg, #f5621e, #f1f388);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.container-subtitle-project {
    width: 80%;
    color: #bdbdbd !important;
    text-transform: uppercase;
}

.container-experience {
    width: 70%;
    color: #bdbdbd;
}

.container-subtitle-project,
.container-experience {
    display: grid;
    place-items: center;
    font-family: "Inter", sans-serif;
    margin: auto;
    margin-top: 2vw;
}

.container-experience {
    margin-top: 2vw;
}

.container-experience h5 {
    font-size: 1.7vw;
}

.title-experience {
    font-weight: bold;
    font-size: 2.2vw;
}

.text-experience {
    width: 100%;
    font-weight: 400;
    color: #bdbdbd;
}

.text-subtitle-project,
.text-experience {
    text-align: center !important;
    line-height: 1.6;
    font-size: 1.4vw;
}

.text-subtitle-project {
    font-weight: 700;
}

.content-projects {
    height: auto;
    margin: auto;
    margin-top: 1vw;
    padding-bottom: 3vw;
    display: flex;
    flex-direction: column;
}

.content-project {
    position: relative;
    width: 100%;
    height: 28vw;
    margin: auto;
    margin-top: 3vw;
    padding-bottom: 2vw;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.container-text-tech {
    width: auto !important;
    height: auto !important;
}

.container__text-tech__project-1 {
    width: 90%;
    height: 23%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1 !important;
}

.container-tech {
    width: 45% !important;
    height: auto !important;
    display: flex;
    align-items: flex-start;
    margin-left: 2vw;
}

.number-project {
    background: linear-gradient(#ffb633, #fff);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-size: 4.2vw;
    font-weight: 700;
    position: relative;
    top: 1.2vw;
}

.container-description-project {
    width: 100%;
    padding: 0.3vw 0 0.3vw 0;
    text-align: justify;
}

.container-description-project>.text-description {
    font-family: "Lato", sans-serif;
    font-size: 1.6vw;
    font-weight: 500;
    line-height: 1.1;
    color: #6d6d6d;
}

.title-project {
    font-size: 2.9vw;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
}

.container-project-see {
    width: 35% !important;
    display: flex;
    margin-top: 0.5vw;
}

.container-icon-techs-project {
    width: auto;
    height: auto;
}

.container-icon-techs-project {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 0.5vw;
}

.container-icon-techs-project img {
    width: 2.5vw;
    height: 2.5vw;
    margin-right: 0.5vw;
}

/* .container-icon-techs-project .icon {
    background-color: #fff;
    padding: 0.1vw;
    border-radius: 50%;
} */

/* BOTONES */

.container-project-see a {
    font-family: 'anton', sans-serif;
    font-size: 1.3vw;
    color: #fff !important;
    padding: 0.2vw 1.5vw 0.2vw 1.5vw;
    border: 0.1em solid #ffb633;
    border-radius: 0.5vw;
    text-decoration: none !important;
    position: relative;
    margin-left: 10px;
    overflow: hidden;
    display: inline-block;
}

.container-project-see a::before{
    content: '';
     position: absolute;
     top: 0;
     left: 0;
     width: 0%;
     height: 100%;
     background: linear-gradient(45deg, #e9043a, #eff307);
     transition: width 0.5s;
     z-index: -1;
     transform: scale(1.1);
}

.container-project-see a:hover::before{
    width: 100%;
    animation: moverBackgroundButon 2s linear infinite;
}

@keyframes moverBackgroundButon {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 100% 0;
    }
}
/* ANIMACION DE CUADRO */

.card__slime {
    position: relative;
    width: 600px;
    height: 350px;
    right: 90px;
    background-color: #363636;
    border-radius: 15px;
    overflow: hidden;
}

.card__slime::before {
    content: '';
    position: absolute;
    background: linear-gradient(45deg, #ff0c86, #ff9609);
    inset: 50px -100px;
    transition: .8s;
    animation: animation__slime 5s linear infinite;
}

.card__slime::after {
    content: '';
    position: absolute;
    inset: 5px;
    background-color: #363636;
    border-radius: 10px;
    z-index: 1;
}

.card__slime__content {
    position: absolute;
    inset: 10px;
    background-color: #363636;
    border-radius: 15px;
    z-index: 2;
    overflow: hidden;
}

.card__slime__content::before {
    content: '';
    position: absolute;
    background: linear-gradient(45deg, #ff0c86, #ff9609);
    inset: 50px -100px;
    transition: .8s;
    animation: animation__slime2 5s linear infinite;
}

.card__slime__content::after {
    content: '';
    position: absolute;
    inset: 5px;
    background-color: #363636;
    border-radius: 10px;
    z-index: 3;
}

.slime__content {
    position: absolute;
    background-color: green;
    inset: 12px;
    z-index: 4;
}

@keyframes animation__slime {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes animation__slime2 {
    0% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(90deg);
    }
}

/* CARRUSEL */

.carousel {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.carousel img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 1s;
}

.carousel img.active {
    opacity: 1;
}